body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  font-family: scrapbooker-script, sans-serif;
  font-style: normal;
  font-size: 35px;
  color: #428da8;
  text-decoration: none;
  padding: 10px;
}

.title {
  font-family: "scrapbooker-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #428da8;
  font-size: 3rem;
  padding: 20px;
}

.subTitle {
  font-family: "scrapbooker-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #428da8;
  font-size: 2rem;
}

.profileCont {
  display: flex;
  flex-direction: column;
}

.profileImg {
  max-width: 100%;
  height: 100px;
  border-radius: 50%;
  padding: 30px;
  margin: 20px;
}

.profileImgA {
  max-width: 100%;
  height: 150px;
  border-radius: 50%;
  padding: 40px;
  margin-top: 50px;
}

.menu a {
  color: #428da8;
  text-decoration: none;
}

.headerSearch {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 2;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  height: 30px;
}

.headerSearchText {
  color: #428da8;
  margin: 20px;
  cursor: pointer;
}

.headerIcon {
  color: #428da8;
}

.bookingIcon {
  color: #428da8;
}

.date {
  position: absolute;
  top: 50px;
}

.options {
  position: absolute;
  top: 50px;
  color: grey;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #428da8;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
.booking {
  position: absolute;
  top: 100px;
  color: grey;
  border-radius: 5px;
  padding: 300px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
  margin-bottom: 200px;
}

.bookingItem {
  width: 200px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 30px;
}

.bookingCounter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bookingCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #428da8;
  cursor: pointer;
  background-color: white;
}

.bookingCounterButton:disabled {
  cursor: not-allowed;
}

.bookingItem {
  background-color: white;
}

.rClose {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.reserve {
  position: relative;
  z-index: 1;
}

.rButton {
  position: absolute;
  top: 800px;
  right: 500px;
  z-index: 2;
}

.submitButton {
  background-color: #428da8;
  color: white;
  padding: 10 30px;
}

.submitButton:hover {
  background-color: grey;
  color: black;
  transform: 5s;
}

.cancelButton {
  background-color: grey;
  color: white;
  transform: 5s;
}

.mainButton {
  background-color: #428da8;
  color: white;
  padding: 5px 30px;
  border: none;
  
}

.mainButton:hover {
  background-color: #cbcbcb;
  color: white;
  padding: 5px 30px;
  border: none;
  border-radius: 10% 10%;
 
}

.createButton {
  background-color: #428da8;
  color: white;
  padding: 5px 30px;
  border: none;
  margin: 30px;
}

.createButton:hover {
  background-color: #cbcbcb;
  color: white;
  padding: 5px 30px;
  border: none;
  border-radius: 10% 10%;
  margin: 30px;
  z-index: 1;
}

.modalPop {
  background-color: white;
  color: black;
  width: 400xp;
  padding-bottom: 50px;
  margin-bottom: 50px;
  z-index: 1;
  position: fixed;
  top: 250px;
  right: 330px;
}

.headerPop {
  background-color: #428da8;
  padding: 5px;
  color: white;
  border: 0.5px solid grey;
  padding: 5px;
}

.contentPop {
  padding: 10px;
  display: flex;
  margin: 0 auto;
}

.modalOverlay {
  position: fixed;
  z-index: 1800;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.myForm {
  opacity: 1;
  position: fixed;
  width: 400px;
  z-index: 2000;
  border: 1px solid #e5e5e5;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
 
}

.fade {
  opacity: 0;
  transition: opacity ms linear;
}

.show {
  opacity: 1;
}

.backdrop.fade.show {
  opacity: 0.5;
}

.dialog {
  position: absolute;
  width: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
