body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  font-family: scrapbooker-script, sans-serif;
  font-style: normal;
  font-size: 35px;
  color: #428da8;
  text-decoration: none;
  padding: 10px;
}

.venues {
  z-index: 1;
 
}

.menu a {
  color: #428da8;
  text-decoration: none;
}

.headerSearch {
  height: 60px;
  border: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  position: relative;
  z-index: 2;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  height: 30px;
}

.headerSearchText {
  color: #428da8;
  margin: 20px;
  cursor: pointer;
}

.headerIcon {
  color: #428da8;
}

.bookingIcon {
  color: #428da8;
}

.date {
  position: absolute;
  top: 50px;
}

.options {
  position: absolute;
  top: 50px;
  color: grey;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #428da8;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
.booking {
  position: absolute;
  top: 100px;
  color: grey;
  border-radius: 5px;
  padding: 300px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
  margin-bottom: 200px;
}

.bookingItem {
  width: 200px;
  display: flex;
  flex-direction: row;
   margin: 0 auto;
  gap: 30px;

}

.bookingCounter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bookingCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #428da8;
  cursor: pointer;
  background-color: white;
}

.bookingCounterButton:disabled {
  cursor: not-allowed;
}

.bookingItem {
  background-color: white;
}

.rClose{
  position: absolute;
  top: 130px;
  right: 200px;
  z-index: 2;

}

.rButton {
  position: absolute;
  top: 800px;
  right: 500px;
  z-index: 2;
}
