body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  font-family: scrapbooker-script, sans-serif;
  font-style: normal;
  font-size: 50px;
  color: #428da8;
  text-decoration: none;
  padding: 10px;
}

.menu a{
  color: #428da8;
  text-decoration: none;
}
